body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
  
  .navbar-container {
    align-items: center;
    max-width: 1200px;
    padding: 20px;
  }
  
  .header {
    min-width: 100%;
  }
  
  .brand-title {
    font-size: 2em;
  }
  
  .notice {
    margin-top: 140px;
    font-size: 3em;
  }
  
  .btn-header,
  .btn-create {
    width: 184px;
  }
  
  .login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-modal__background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .login-modal__container {
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 800px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .login-modal__form {
    display: flex;
    flex-direction: column;
  }
  
  .login-modal__message {
    margin-bottom: 0;
    height: 15px;
    color: red;
  }
  
  .login-close__container {
    display: flex;
    justify-content: end;
  }
  
  .login-modal__close {
    width: 28px;
    height: 28px;
    background-color: #007bff;
    border: 1px solid #0168d5;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-modal__close::after {
    content: "\2715";
    color: #ffffff;
    padding-left: 7px;
    line-height: 28px;
  }
  
  .login-modal__close:hover {
    background-color: #0168d5;
  }
  
.form-visit{
    /* background-color: rgba(254, 254, 255, 0.3); */
    /* z-index: 100; */
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    width: 540px;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    border-radius: 0px;
    overflow: hidden scroll;
   
    
   
    }

    .form-visit-wrapper{
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 21, 224, 0.2);
  /* z-index: 5; */
    }


    .image-button-edit {
        width: 30px;
        height: 30px;
      position:absolute;
      top:0.7em; 
      right:3em;
        background-image: url('../img/card-edit.png');
        background-size: cover;
        border: none;
      }
.image-button-delete{
    width: 30px;
    height: 30px;
  position:absolute;
  top:0.7em; 
  right:0.5em;
    background-image: url('../img/card-delete.png');
    background-size: cover;
    border: none;
  }

  
  .card{
    overflow: hidden;
    max-height: 186px;
  }




  .di-flex{
    display: flex;
  }

  .di-none{
    display: none;
  }

  
  .card{
    overflow: hidden;
    max-height: 186px;
    
  }

  


